.App {
  text-align: left;
  display: block;
  justify-content: center;
  border:0px solid red;
}

.containerCard {
  margin-top: 20px;
  margin-bottom: 100px;
  border: 0px solid grey;
  border-radius: 15px;
  padding: 25px
}

.analiticUserContainer {
  display: inline-block;
  border: 1px solid gray;
  margin: 15px;
  padding: 25px;
  border-radius: 15px;
  min-height: 300px;
  width:292px;
  box-shadow:inset;

}
.imgTable{
  height: 30px;
  cursor: pointer;

}
hr{

  font-size: 0.3em;
  height:2px;
  margin: 1em !important;
  padding-bottom: 10px;
}
.tittle{
  font-size: 1.0em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom:0px;
  font-weight: 700;
}



.analiticUserBox {
  display: flex;
  text-align: left;
  vertical-align: top;
  justify-content: center;
}

.red {
  color: red;
  font-weight: 500;
}

.container {

  border-radius: 10px;
  margin-top: 15px;
  padding-top: 15px;
}

.containerBody {
  border: 1px solid grey;

}
.loginNavBar{
  width:100% !important;
  border:0px solid red;
  padding: 5px;
padding-right: 150px;
  font-weight: 500;
  text-align: end;
}
.up {
  padding-top: 10px;
  border: 0px solid red;
  text-align: center;
}

.down {
  padding-bottom: 0px;
  border: 0px solid red;
}

.pad10 {
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid red;
}

h4 {
  text-transform: uppercase;
}

.getCenter {
  text-align: center;
 
}

.getLeft {
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 0.8em;
  font-weight: 700;
}

.getRight {
  text-align: right;
  padding-bottom: 0px;
  padding-right: 25px !important;
  margin-bottom: 0px;

}

.tableFontSize {
  font-size: 0.85em;

}

.btnFull {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 200px;
  padding: 5px;
  margin: 5px;
  border: 2px solid gray;
  border-radius: 10px;


}
li{
  text-align: left !important;
}

.input-group{
  display: flex;
  align-content: stretch;
}


/**
 * Even when I set some dimension-related styles on this
 * element but not on the input or button, they'll still
 * line up.
 */
.input-group-addon {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.input-search{
  min-width:80% !important;
  margin-top: 0px;
  height: 35px;

}

@media all and (max-width: 992px) {

  .analiticUserBox {
  display: block;
  justify-content: center;
  text-align: center;

  }

li{
  text-align: left !important;
}

tr td:nth-of-type(2) {
  display: none;
}
tr td:nth-of-type(3) {
  display: none;
}
tr td:nth-of-type(4) {
  display: none;
}

}



