.App {
  text-align: left;
  display: flex;
  justify-content: center;
  border: 0px solid red;
 
}

.showTask{
  display:none;
}

.containerCard {
  margin-top: 20px;
  margin-bottom: 100px;
  border: 0px solid grey;
  border-radius: 15px;
  padding: 25px;
}


.imgTable {
  height: 35px;
  cursor: pointer;
}
.imgSetting {
  height: 25px;
  cursor: pointer;
}

hr {
  font-size: 0.3em;
  height: 2px;
  margin: 1em !important;
  padding-bottom: 10px;
}
.tittle {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
}


.red {
  color: red;
  font-weight: 500;
}

.container {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.containerBody {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 15px;
  padding-top: 15px;
}
.loginNavBar {
  width: 100% !important;
  border: 0px solid red;

  padding-right: 20px;
  font-weight: 500;
  text-align: end;
}


.down {
  padding-bottom: 0px;
  border: 0px solid red;
}

.pad10 {
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid red;
}

h4 {
  text-transform: uppercase;
}

.getCenter {
  text-align: center;
}

.getLeft {
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 0.8em;
  font-weight: 700;
}
.orange {
  color: orange;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}
.black {
  color: #999999;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}

.getRight {
  text-align: right;
  padding-bottom: 0px;
  padding-right: 25px !important;
  margin-bottom: 0px;
}
.getRightSign {
  text-align: right;
  padding-bottom: 0px;
  margin-top: 10px;
  padding-right: 0px !important;
  margin-bottom: 5px;
}

.tableFontSize {
  font-size: 0.85em;
}

.input-group {
  display: flex;
  align-content: stretch;
  text-align: left;
  vertical-align: center;
  justify-content: center;
  border: 0px solid #000;
}

.input-group-addon {
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 25px;
}




.input-icon-search {
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.input-search {
  min-width: 90% !important;
  margin-top: 0px;
  margin-left: 0px;
  height: 45px;
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;

}
h3 {
  color: #000;
  font-weight: 700;
  font-size: 2.3em;
  text-align: center;
  justify-content: baseline;
  border: 1px solid red;
}

.btn {
  border-radius: 50px;
  min-width: 200px;
}
.input-search:focus {
  outline: none;
}

.signUpPanel {
  width: 450px !important;
  position: absolute;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  border: 0px solid #808080;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #999999;
}


.signCenter {
  display: contents;
}

@media all and (max-width: 992px) {

  .signUpPanel {
    width: 300px !important;
  }
  li {
    text-align: left !important;
  }

  tr td:nth-of-type(2) {
    display: none;
  }
  tr td:nth-of-type(3) {
    display: none;
  }
  tr td:nth-of-type(4) {
    display: none;
  }
  .inputLogin {
    width: 180px !important;
  }


}